
produtividade_comercial/data/processed/produtividade_tratada.csv
vistorias_comercial/data/processed/vistorias_consolidadas.csv
faturamento_comercial/data/processed/faturamentos_executados_consolidado.csv

__pycache__
.env

node_modules
package-lock.json
package.json

materiais_obra/data/**
clientes_leitura/data/**
